@page "/"
@using Microsoft.Extensions.Localization
@using Outkeep.Dashboard.Properties
@namespace Outkeep.Dashboard.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<App> Localizer
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer.GetString("Title_OutkeepDashboard")</title>
    <base href="~/" />
    <link rel="stylesheet" href="_content/Outkeep.Dashboard.Core/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Outkeep.Dashboard.Core/css/site.css" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            @Localizer.GetString("Message_AppError_Production")
        </environment>
        <environment include="Development">
            @Localizer.GetString("Message_AppError_Development")
        </environment>
        <a href="" class="reload">@Localizer["Action_Reload"]</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
